<!DOCTYPE html>
<html>
  <head>
    <title>Ukulesa | GitHub AMA Email Notifications</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'application/favicon' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <%= render "shared/header" %>

      <%= yield %>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>
